h2 {
  border-bottom: none;
  padding-bottom: 0; /* Remove padding below text */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (max-width: 824px) {
  .grid {
    grid-template-columns: 1fr;
  }
}